{% if status_fb_login %}
<script>
function statusChangeCallback(response) {
    if (response.status === 'connected') {
        FB.api('/me?fields=name,id,email,first_name,last_name', function(response) {
            var email = '';
            if($('#email_input_request').is(':visible') === true ){
                email = $("#input-login-email").val();
            } else {
                email = response.email;
            }
            $.ajax({
                    url: '{{ request }}',
                    data : 'email='+email+'&fname='+response.first_name+'&lname='+response.last_name+'&fb_id='+response.id+'&login_via=facebook',
                    type : 'get',
                    success: function(json) {
                        if (json['success']) {
                            FB.logout(function(response){});
                            window.location.reload();
                        } else if (json['error']) {
                            $("#email_input_request").show();
                            for (i in json['error']) {
                                $('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'][i] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>').insertBefore($('div.fb-login-error'));
                            }
                        } else {
                            FB.logout(function(response){});
                            window.location.reload();
                        }
                    }
            });
        });
    } else if (response.status === 'not_authorized') {
        console.log('not_authorized');
    } else {
        FB.login(function(response) {
            if (response.authResponse) {
                FB.api('/me?fields=name,id,email,first_name,last_name', function(response) {
                    var email = '';
                    if($('#email_input_request').is(':visible') === true ){
                        email = $("#input-login-email").val();
                    } else {
                        email = response.email;
                    }
                    $.ajax({
                        url: '{{ request }}',
                        data : 'email='+email+'&fname='+response.first_name+'&lname='+response.last_name+'&fb_id='+response.id+'&login_via=facebook',
                        type : 'get',
                        success: function(json) {
                            if (json['success']) {
                                FB.logout(function(response){});
                                window.location.reload();
                            } else if (json['error']) {
                                $("#email_input_request").show();
                                for (i in json['error']) {
                                    $('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'][i] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>').insertBefore($('div.fb-login-error'));
                                }
                            } else {
                                FB.logout(function(response){});
                                window.location.reload();
                            }
                        }
                    });
                });
            } else {
                console.log('error_login_fb'); 
                FB.logout(function(response){});
            }
        }, {scope: 'email'});
    }
}
function loginuseronfacebook() {
    FB.getLoginStatus(function(response) {
    if (response.status == 'connected') {
        statusChangeCallback(response);
    }});
}
window.fbAsyncInit = function() {
    FB.init({
    appId      : '{{ app_id }}',
    cookie     : true,
    xfbml      : true,
    status     : true,
    version    : 'v6.0'
    });
    FB.AppEvents.logPageView();   
};
(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/{{ location_code }}/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true" onlogin="loginuseronfacebook();" data-scope="email,public_profile"></div>
{% endif %}